.main-content-buy-product > h1 {
  text-align: center;
}

.section-1-buy-product {
  background: transparent;
  width: 100%;
  height: auto;
}

.section-buy-product-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-buy-product-div-specification-content-1 {
  background: #fff;
  width: 25rem;
  min-height: 32.423125rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin: 3rem 0 3rem 0;
  outline: .09em solid #eaeaea;
  height: auto;
}


.buy-product-main-img-container {
  margin-top: 1em;
  width: auto;
}

.buy-product-main-img-container > img {
  width: 100%;
  border-radius: 0.25rem;
}

.section-buy-product-div-specification-content-2 {
  margin: 3rem 0 3rem 0;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 40.0625rem;
  min-height: 32.423125rem;
  gap: 1.2rem;
  outline: .09em solid #eaeaea;
  height: auto;
}

.buy-product-name { 
  font-size: 2rem;
  margin: 0;
}


.section-buy-product-div-specification-content-2 > .buy-product-price {
  font-size: 2rem;
  margin: 0;
}

.paragraph-buy-product-content-2 {
  line-height: 1.6rem;
  margin: 0;
}

.span-buy-product-content-2 {
}

.buy-product-stars {
  display: flex;
  flex-direction: row;
}

.buy-product-stars > :nth-child(-n + 4) {
  color: #ff0;
}

.bold-text {
  font-weight: bold;
}

.buy-product-submit-button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #7db2f3;
  border-color: #7db2f3;
  width: 18.15625rem;
  color: #fff;
  margin-right: 1rem;
}

.form-buy-product {
  display: flex;
  flex-direction: row;
}

.section-2-buy-product {
  height: 20rem;
  background: rgb(40, 41, 40);
}


