.main-content-buy-product > h1 {
  text-align: center;
}

.section-1-buy-product {
  background: transparent;
  width: 100%;
  height: auto;
}

.section-2-buy-product {
  height: 50rem;
  background: rgb(40, 41, 40);
}

.section-buy-product-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-buy-product-div-specification-content-1 {
  background: #eaea;
  width: 25rem;
  height: 52.423125rem;
  padding: 1rem;
  margin: 3rem 0 3rem 0;
}

.section-buy-product-div-specification-content-1 > h2 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.buy-product-main-img-container {
  width: auto;
  height: auto;
}

.buy-product-main-img-container > img {
  width: 100%;
  height: 100%;
  border: 0.11rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.section-buy-product-div-specification-content-2 {
  margin: 3rem 0 3rem 0;
  padding: 1rem;
  background-color: #eaeaa7;
  display: flex;
  flex-direction: column;
  width: 40.0625rem;
  height: 52.423125rem;
}

.section-buy-product-div-specification-content-2 > .buy-product-name {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.7rem;
}

.section-buy-product-div-specification-content-2 > .buy-product-price {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.7rem;
}

.paragraph-buy-product-content-2 {
  line-height: 1.6rem;
  margin-top: 0;
}

.span-buy-product-content-2 {
  margin-bottom: 0.7rem;
}

.buy-product-stars {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
}

.buy-product-stars > :nth-child(-n + 3) {
  color: #ff0;
}

.bold-text {
  font-weight: bold;
}

.buy-product-submit-button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #59ab6e;
  border-color: #59ab6c;
  width: 18.15625rem;
  color: #fff;
  margin-right: 1rem;
}

.from-buy-product {
  display: flex;
  flex-direction: row;
}
