.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-home {
  margin-top: 1.25rem; 
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem; 
  width: 85%;
  position: relative;
}

.text-container {
  width: 50%;
}

.publicity-img { 
  position: inherit;
  top: 3.5rem;
  left: 5.5rem;
  width: 43%;
}

.last-day-container {
  display: flex;
  flex-direction: row;
}

.last-day-container-items {
  margin: 0 1.25rem; 
}

.last-days {
  font-size: 2.5rem; 
  margin: auto;
  font-weight: 900;
}

.prod {
  color: #2136f5;
  font-family: "Inter", Helvetica;
  font-size: 4rem; 
  font-weight: 800;
  width: 33.4375rem; 
  margin-bottom: 0;
  margin-top: 0;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.selected-products {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 2.1875rem; 
  font-style: italic;
  font-weight: 600;
  top: 2.1875rem; 
  width: 32.8rem; 
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap; 
  
}

.shop-now {
  background: #000; 
  font-family: "Inter", Helvetica;
  color: #fff;
  padding: 0.8125rem; 
  width: auto; 
  font-size: 3.4375rem; 
  cursor: pointer;
  border-radius: 0.5625rem; 
  font-weight: 800;
  display: inline-block; 
  margin-right: 37.75rem; 
  text-decoration: none;
  border: 0.1875rem solid #000;
  transition: transform .3s ease;
}

.shop-now:hover { 
  transform: scale(1.1);
}

.shop-now:active { 
  transform: scale(0.9);
}

.section {
  background-color: #fff;
  width: 100%;
  margin-top: 2.5rem; 
  padding-top: 3.125rem; 
  padding-bottom: 3.125rem; 
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 13.375rem; 
}

.shop-by-category {
  margin-top: 0;
  padding-bottom: 0.625rem; 
}

.product-category-home-container { 
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.product-category-home {
  padding: 1rem;
  text-decoration: none;
  background: #abc7f3;
  color: #212527;
  border-radius: 0.625rem;
  border: 0.18rem solid #abc7f3;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.product-category-home:hover { 
  transform: scale(1.1); 
}

.product-category-home:active { 
  transform: scale(0.9);
}


