.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-home {
  margin-top: 1.25rem; 
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem; 
  width: 80%;
  position: relative;
}

.text-container {
  width: 50%;
}

.publicity-img { 
  position: inherit;
  top: 3.5rem;
  left: -2.5rem;
  width: 43%;
}


.fire {
  max-width: 6.25rem; 
  min-height: 6.25rem; 
}

.last-day-container {
  display: flex;
  flex-direction: row;
}

.last-day-container-items {
  margin: 0 1.25rem; 
}

.last-days {
  font-size: 2.5rem; 
  margin: auto;
  font-weight: 900;
}

.dto {
  color: #2136f5;
  font-family: "Inter", Helvetica;
  font-size: 4.375rem; 
  font-weight: 900;
  width: 24.4375rem; 
  margin-bottom: 0;
  margin-top: 0;
}

.selected-products {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 2.1875rem; 
  font-style: italic;
  font-weight: 700;
  top: 4.1875rem; 
  width: 21.125rem; 
  margin-top: 0;
}

.shop-now {
  background: #000; 
  font-family: "Inter", Helvetica;
  color: #fff;
  padding: 0.8125rem; 
  width: auto;
  font-size: 3.4375rem; 
  cursor: pointer;
  border-radius: 0.5625rem; 
  font-weight: 900;
  display: inline-block; 
  margin-right: 38.75rem; 
  border-style: none;
}

.section {
  background-color: #fff;
  width: 100%;
  margin-top: 2.5rem; 
  padding-top: 3.125rem; 
  padding-bottom: 3.125rem; 
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 9.375rem; 
}

.shop-by-category {
  margin-top: 0;
  padding-bottom: 0.625rem; 
}

.product-category {
  margin-left: 2.5rem; 
  margin-right: 2.5rem;
  margin-bottom: 1.875rem; 
  background: #f5f5f5;
  border-radius: 0.5625rem; 
  border: 0.1875rem solid #5b73f2;
  height: 4.125rem; 
  width: 15.3125rem; 
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 1.1875rem; 
  width: 13.5rem; 
  cursor: pointer;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}
