.main-content-shop {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0.8rem;
  margin: 0 2rem;
}

.grid-container {
  margin-top: 2rem;
  background: transparent;
  display: grid;
  height: auto;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
  gap: 1.5rem;
  justify-items: center;
}

.grid-container > * {
  grid-row: auto;
}

.grid-item {
  background: #fff;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 0.12rem solid rgba(0, 0, 0, 0.125);
}

.categories {
  margin-top: 2rem;
  height: auto;
}

.card-image-container {
  width: 100%;
  height: 250px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-container > img {
  width: 100%;
  height: auto;
}



.card-text-container {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: start;
}

.card-text-container > .link-shop {
  width: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
}

.star {
  opacity: 0.5;
  color: #6c757d;
  font-size: 1.5rem;
}

.flex-container-star-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-star-shop > :nth-child(-n + 5) {
  padding-right: 0.4rem;
  padding-top: 0.7rem;
}

.flex-container-star-shop > :nth-child(-n + 4) {
  color: #ee0;
}

.card-text-container-sizes {
  width: min-content;
  padding-top: 0.2rem;
}

.card-text-container-sizes > p {
  width: min-content;
  margin: 0;
}

.price-container-shop {
  display: flex;
  padding-top: 0.4rem;
  justify-content: center;
}

.price-container-shop > p {
  margin: 0;
}

.title-shop {
  font-size: 3rem;
  font-weight: bold;
}
