/* AddItem.css */
.popup-content {
  background-color: #fff;
  padding: 2rem;
  width: 40rem;
  height: 30rem;
  margin: 3rem auto;
  border: 2px solid #000;
  border-radius: 0.7rem;
  overflow: auto;
}



.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
}


.faTimes {
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
  background: none;
}

.popup-form-child {
  margin: 0 0 1.5rem 0;
}

.popup-form > label {
  margin: 0;
  padding-bottom: 0.5rem;
}

.popup-form > input {
  outline: none;
  border: var(--border-input);
  height: 1.5rem;
}

.popup-form > :nth-child(14) {
}

.button-form-add-item {
  border: none;
  padding: 0.625rem 1.5625rem;
  color: #fff;
  background: var(--login-signup-button);
  border-radius: 1.875rem;
  font-size: 1.1875rem;
  font-weight: 700;
  cursor: pointer;
  width: 7rem;
  margin-bottom: .7rem;
}

.submit-form-container { 
  display: flex;
  justify-content: center;
}

.close {
  font-family: "Poppins";
  border: none;
  padding: 0.625rem 1.5625rem;
  color: #fff;
  background: #b00;
  border-radius: 1.875rem;
  font-size: 1.1875rem;
  font-weight: 700;
  cursor: pointer;
  width: 7rem;
}

.add-button {
  font-family: "Poppins", sans-serif;
  border: none;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 13.75rem; 
  height: 3.6875rem; 
  color: #fff;
  background: #99fbae;
  border-radius: 3.125rem; 
  font-size: 1.1875rem; 
  font-weight: 700;
  cursor: pointer;
}

.add-button:hover {
  transition: all .5s ease;
  transform: scale(1.1);
}

label { 
  font-weight: normal;
  font-size: large;
}

input { 
  padding: .3rem 0 .3rem .5rem;
}