@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
  width: auto;
  max-width: 100%;
  top: 0;
  display: flex;
  background: #fff;
}

.icon-img {
  max-width: 200px;
  max-height: 100px;
  padding: 10px;
  background-color: #fff;
}

nav a {
  text-decoration: none;
}

.nav {
  display: flex;
  background: #fff;
  align-items: center;
}

.header-li {
  font-size: 17px;
  display: inline-block;
  padding: 0 15px 0 15px;
  margin-right: 0.7rem;
}

.ul-list {
  padding: 0;
}

.header-login-signup-button {
  font-family: "Poppins";
  border: none;
  padding: 10px 25px;
  color: #fff;
  background: var(--login-signup-button);
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.input-search-container {
  margin-top: 2.6rem;
  display: flex;
  height: 3rem;
  text-align: center;
  flex-direction: row;
  position: relative;
  left: 5rem;
}

.input-search-container > input {
  margin-right: none;
}

.input-search {
  position: relative;
  right: 2.5rem;
  padding: 10px;
  width: 20.625rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.icon-fa-search {
  position: relative;
  right: 5rem;
  margin-top: 0.35rem;
  background-color: transparent;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #676766;
  cursor: pointer;
}

.login-header-container {
  align-self: center;
  position: relative;
  left: 20rem;
}

.__header-logout-container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 3.2rem;
}

.__header-logout-container-item {
  align-self: center;
  margin: 0 -1.25rem;
  position: relative;
  top: 0.4rem;
  left: 6rem;
}



.header {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
