.header {
  display: flex;
  background: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0.625;
  border-bottom: 0.0625rem solid #eaeaea;
}

.logo-img {
  display: flex;
  width: 12%;
  padding: 0.5rem 0 0.5rem 0;
  margin-left: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  width: auto;
}

.link-header {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-decoration: none;
  color: #212529;
}

.link-header:hover {
  color: #48e;
}

.ul-list {
  margin: 0;
  display: flex;
  gap: 1.3rem;
  padding: 0;
  list-style-type: none;
  height: min-content;
}

.logout-button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--login-signup-button);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid var(--login-signup-button);
  border-radius: 0.4rem;
  transition: transform 0.2s ease;
}

.logout-button:hover {
  transform: scale(1.1);
}

.logout-button:active {
  transform: translateY(0.2rem);
}

.input-search-container {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  gap: 0.4rem;
}

.input-search {
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  width: 20rem;
  border-radius: 0.4rem;
  border: 0.125rem solid #ddd;
  height: min-content;
}

.search-button {
  color: #777;
  font-size: larger;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.29rem 0.5rem;
}

.login-header-container {
  align-self: center;
  margin-right: 2rem;
}

.login-button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--login-signup-button);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid var(--login-signup-button);
  border-radius: 0.4rem;
  transition: transform 0.2s ease;
}

.login-button:hover{
  transform: scale(1.1);
}

.login-button:active { 
  transform: scale(0.9);
}

.__header-logout-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
  gap: 1.26rem;
}

.nav-before-header {
  padding: 0 1.5rem;
  background: #212529;
  display: flex;
  width: auto;
  height: 2.5rem;
}

.container-nav-before-header {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.text-light {
  color: var(--text-light);
  font-size: 0.9em;
}

.span-nav-before-header {
  margin-right: 0.7rem;
}

.faPhone {
  color: var(--text-light);
  font-size: 0.9em;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.faEnvelope {
  color: var(--text-light);
  font-size: 0.9em;
  margin-right: 0.5rem;
}

.faShoppingCart {
  color: #212529;
  font-size: 2rem;
}

.faShoppingCart:hover {
  transform: scale(1.1);
}

.header-container {
  width: 100%;
}

.profile-img {
  width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 10%;
  transition: transform 0.2s ease;
}

.profile-img:hover {
  transform: scale(1.1);
}
