.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 0.625;
}

.logo-img {
  display: flex;
  width: 12%;
  padding: .5rem 0 .5rem 0;
  margin-left: .5rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  width: auto;
}

.header-li {
  margin-right: 0 1.25rem 0 0;
}

.ul-list {
  margin: 0;
  display: flex;
  gap: 1.7rem;
  padding: 0;
  list-style-type: none;
  height: min-content;
}

.header-login-signup-button {
  font-family: "Poppins";
  border: none;
  padding: 10px 25px;
  color: #fff;
  background: var(--login-signup-button);
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.input-search-container {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  gap: .4rem;
}

.input-search {
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  width: 20rem;
  border-radius: 0.4rem;
  border: .125rem solid #ddd;
  height: min-content;
}

.search-button {
  color: #777;
  font-size: larger;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: .29rem .5rem;
}

.login-header-container {
  align-self: center;
  margin-right: 2rem;
}

.link-header {
  font-size: 1.1rem;
  text-decoration: none;
  color: #0000ee;
}

.link-header:visited {
  color: #800080;
}

.__header-logout-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
