@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Poppins", sans-serif, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  background: -webkit-linear-gradient(
    #d6e9fd,
    #a4c8ff
  ); /* Para Safari 5.1 to 6.0 */
  background: linear-gradient(#d6e9fd, #a4c8ff); /* Estándar */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-attachment: fixed; /* Fija el fondo para evitar el desplazamiento */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
}

:root { 
  --background-official: linear-gradient(#d6e9fd, #a4c8ff);
  --login-signup-button: #1065cd /*#5f97ff*/; 
  --bs-green: #198754;
  --bs--success: #20c997;
  --about-icon-color: #1065cd;
  --section-3-about: #e9eef5;
  --section-1-about-text: #f5f5f5; 
  --section-1-about-background: #1065cd;
  --section-4-about-background: #212529; 
}

.main-content {
  margin: 0 !important;
}





.title {
  font-size: 50px;
  margin-top: 20px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-title {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.main-content {
  margin-top: 10.9375rem;
  margin-bottom: 9.375rem;
}
